.container {
    margin: 50px;
}

.title {
    font-size: 18px;
}

.highlight {
    font-size: 18px;
    color: orangered;
}
.relatedSite {
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: linear-gradient(#ccc,#eee);
}

.relatedSite__list a {
    color: inherit;
    text-decoration: none;
    padding: 0 10px 0 20px;
    line-height: 25px;
    display: block;

}

.relatedSite__list{
    list-style: none;
    padding-left: 0;
    border: 1px solid black;
    border-radius: 5px;
    background: #fff;
    height: 25px;
    overflow: hidden;
    margin: 10px 0 0 0;
}

.relatedSite__list:hover{
    padding: 10px 0;
    height: 125px;
    transition: height 0.4 0.4 ease-in-out;

} 